<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695104943034-f1q2fr4h2h1u74nhla28ntoi9mkdo6on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695104943034-f1q2fr4h2h1u74nhla28ntoi9mkdo6on</string>
	<key>API_KEY</key>
	<string>AIzaSyD4IyU_awjEg4HrRXtlUyG9oJiVeRiSM2E</string>
	<key>GCM_SENDER_ID</key>
	<string>695104943034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawer</string>
	<key>PROJECT_ID</key>
	<string>lawyerapp-e0831</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyerapp-e0831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695104943034:ios:b9e0699b0455d47bc5a383</string>
</dict>
</plist>